USE [master]
GO
/****** Object:  Database [QuanLyTienGui]    Script Date: 09/28/2014 11:48:56 ******/
CREATE DATABASE [QuanLyTienGui] ON  PRIMARY 
( NAME = N'QuanLyTienGui', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.CONGDAI\MSSQL\DATA\QuanLyTienGui.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyTienGui_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.CONGDAI\MSSQL\DATA\QuanLyTienGui_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyTienGui].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyTienGui]
GO
/****** Object:  Table [dbo].[tb_user]    Script Date: 09/28/2014 11:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_user](
	[TenDN] [nvarchar](50) NOT NULL,
	[MatKhau] [nchar](10) NULL,
	[Quyen] [nchar](10) NULL,
 CONSTRAINT [PK_tb_user] PRIMARY KEY CLUSTERED 
(
	[TenDN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_KhachHang]    Script Date: 09/28/2014 11:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KhachHang](
	[SoCMT] [nchar](15) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](150) NULL,
	[DTNR] [nvarchar](20) NULL,
	[NgheNghiep] [nvarchar](50) NULL,
	[Email] [nvarchar](30) NULL,
	[NgaySinh] [date] NULL,
	[QT] [nvarchar](30) NULL,
	[GT] [numeric](1, 0) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[SoCMT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_GiaoDichVien]    Script Date: 09/28/2014 11:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_GiaoDichVien](
	[MaGDV] [nchar](10) NOT NULL,
	[TenGDV] [nvarchar](50) NULL,
	[MaCN] [nchar](10) NULL,
	[NgayVao] [date] NULL,
 CONSTRAINT [PK_tb_GiaoDichVien] PRIMARY KEY CLUSTERED 
(
	[MaGDV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_DMTien]    Script Date: 09/28/2014 11:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DMTien](
	[MaTien] [nchar](10) NOT NULL,
	[TyGia] [float] NULL,
	[LoaiTien] [nchar](10) NULL,
 CONSTRAINT [PK_DMTien] PRIMARY KEY CLUSTERED 
(
	[MaTien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ChiNhanh]    Script Date: 09/28/2014 11:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ChiNhanh](
	[MaCN] [nchar](10) NOT NULL,
	[TenCN] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](150) NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 09/28/2014 11:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSp] [nchar](10) NOT NULL,
	[TenSP] [nvarchar](60) NULL,
	[KyHan] [nchar](10) NULL,
	[PTTTLai] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuChi]    Script Date: 09/28/2014 11:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuChi](
	[SoPC] [nchar](20) NOT NULL,
	[SoTC] [float] NULL,
	[CMND] [nchar](15) NOT NULL,
	[MaGDV] [nchar](10) NOT NULL,
	[MaSP] [nchar](10) NOT NULL,
	[Ac] [nchar](20) NOT NULL,
	[MaTien] [nchar](10) NOT NULL,
	[NoiDung] [nvarchar](200) NULL,
 CONSTRAINT [PK_PhieuChi] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC,
	[MaGDV] ASC,
	[MaSP] ASC,
	[Ac] ASC,
	[MaTien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaiSuat]    Script Date: 09/28/2014 11:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaiSuat](
	[MaSP] [nchar](10) NOT NULL,
	[MaTien] [nchar](10) NULL,
	[MucLS] [numeric](5, 3) NULL,
	[NgayHL] [date] NULL,
 CONSTRAINT [PK_LaiSuat] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GM_TK]    Script Date: 09/28/2014 11:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GM_TK](
	[SoCIF] [nchar](15) NULL,
	[SoTK] [nchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiayMoTK]    Script Date: 09/28/2014 11:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiayMoTK](
	[SoCIF] [nchar](15) NOT NULL,
	[OD] [date] NULL,
	[CD] [date] NULL,
	[CMND] [nchar](15) NOT NULL,
	[MaGDV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_GiayMoTK] PRIMARY KEY CLUSTERED 
(
	[SoCIF] ASC,
	[CMND] ASC,
	[MaGDV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiayGT]    Script Date: 09/28/2014 11:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiayGT](
	[SoPG] [nchar](20) NOT NULL,
	[NgayGui] [date] NULL,
	[SoTG] [float] NULL,
	[MaTien] [nchar](10) NOT NULL,
	[CMND] [nchar](15) NOT NULL,
	[MaGDV] [nchar](10) NOT NULL,
	[MaSP] [nchar](10) NOT NULL,
	[Ac] [nchar](20) NOT NULL,
	[CMNDng] [nchar](15) NULL,
	[NoiDung] [nvarchar](200) NULL,
 CONSTRAINT [PK_GiayGT] PRIMARY KEY CLUSTERED 
(
	[SoPG] ASC,
	[MaTien] ASC,
	[CMND] ASC,
	[MaGDV] ASC,
	[MaSP] ASC,
	[Ac] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMTaiKhoan]    Script Date: 09/28/2014 11:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMTaiKhoan](
	[SoTK] [nchar](20) NOT NULL,
	[Ac] [nchar](20) NULL,
 CONSTRAINT [PK_DMTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[SoTK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
